.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
.astro/standalone/
.astro/worktrees/
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
.astro/*.local.yml
.astro/*.local.yaml

**/.astro/dbt_metadata.json
**/.astro/manifest.slim.json
.dlt
olist_*.csv
.vscode
logs/
target/
dbt_packages/
target/
logs/
manifest.json
run_results.json
catalog.json
semantic_manifest.json